# PyCharm IDE files
/.idea/

# Cache
__pycache__

# Terraform temporary files
/infrastructure/terraform-*
/infrastructure/.terraform
/infrastructure/.terraform.*

# Lambda deployment archive files
/build/
/infrastructure/.terraform/build.zip

# MkDocs generated site
/site/
