#app, #content {
    height: 100% !important;
}

.image {
    min-height: 128px;
    background-repeat: repeat !important;
    background-size: contain !important;
    background-position: center center;
}

#input {
    background: transparent;
    border: none;
    font-size: 6rem;
    color: white;
    text-wrap: normal;
    text-align: center;
    margin-top: 20%;
}


#input::selection {
    color: white;
}
